* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --primary-color: #C75B91;
    --secondary-color: #6A4DBA;
    --accent1-color: #F0F2F5;
    --accent2-color: #1F2937;
}
body {
    color: var(--accent2-color);
    font-family: "inter", sans-serif; 
}
header {
    display: flex;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    padding: 10px;
    place-content: center;
}

header img {
    padding-bottom: 8px;
}

p {
    padding: 0.5rem;
}

h2 {
    font-size: 1.4rem;
    color: var(--accent2-color);
}

section {
    border: 1px solid var(--secondary-color);
    border-radius: 6px;
    margin: 10px;
    padding: 10px;
    background-color: var(--accent1-color);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

section p {
    line-height: 1.8;
}

.label {
    font-weight: bold;
}

footer {
    color: var(--accent1-color);
    background-color: var(--accent2-color);
    padding: 10px;
    text-align: center;
    
}

a {
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    display: block;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    text-align: center;
    margin: 1.2rem 0;
    
}
.wireframe-1 {
    background-color: var(--primary-color);
    color: var(--accent1-color);
    border: 1px solid var(--primary-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.wireframe-2 {
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    border: 1px solid var(--primary-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0px 0px 2px rgba(0, 0, 0.5);
}

.wireframe-1:hover {
    color: var(--accent1-color);
    background-color: var(--secondary-color);
}
.wireframe-2:hover {
    color: var(--accent1-color);
    background-color: var(--primary-color);
}