* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --primary-color: #183059;
    --secondary-color: #20508C;
    --accent1-color: #276FBF;
    --accent2-color: #FAF8F7;
}
body {
    padding: 8px;
}
h2 {
    font-family: "Roboto", sans-serif;
}

p {
    font-family: sans-serif;
}

.header-content {
    font-family: "Roboto", serif;
    background-color: var(--secondary-color);
    padding: 2rem;
    text-align: center;
}
.course-title {
    color: var(--accent2-color);
    font-style: italic;
}
.my-name {
    color: greenyellow;
    font-weight: bold;
    font-size: 1.5rem;
}

.navigation {
    background-color: var(--primary-color);
    padding: 0.8rem;
}
nav ul{
    display: flex;
    justify-content: space-around;    
    
}

nav ul li{
    list-style: none;
   
}

nav a {
    text-decoration: none;
    display: block;
    color: var(--accent2-color);
    font-size: 1.2rem;
    font-family: sans-serif;
    transition: all 0.3s ease;
}

nav a:hover {
    color: greenyellow;
    background-color: var(--secondary-color);
    padding: 0 1.5px;
    border-radius: 3px;
    transform: translateY(-1.5px);

}

main {
    display: grid;
    grid-template-columns: 1fr 450px;
    justify-content: center;
    max-width: 90%;
    margin: 5px auto;
    
}


.card h2 {
    text-align: center;
    font-weight: bold;
    color: var(--accent2-color);
    background-color: var(--secondary-color);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding: 10px;
   
}

.card {
    margin: 5px;
    border: 1.5px solid rgba(0, 0, 0, 0.2);
    color: var(--secondary-color);
    font-family: "Roboto", sans-serif;
    font-weight: 550;
    line-height: 1.5rem;
    border-radius: 7px;
}
.card p {
    padding: 15px;
}
.profile-image {
    border: 1px solid var(--primary-color);
    box-shadow: 0 0 30px gray;
    margin: 10px;
    grid-column: 2 / 3;
}

.about-me {
    display: grid;
}
.about-me-column {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.hobby-container {
    display: grid;
    justify-content: center;
}

.my-links ul {
    padding-left: 40px;
}
.my-country-grid {
    display: grid;
}
figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: 5px;
    max-width: 180px;
    margin: auto;
    grid-column: 1 / 2;

}
.my-country-grid p {
    grid-column: 2 / 3;
}
figure img {
    width: 170px;
}

figcaption {
    font-family: sans-serif;
    font-weight: 350;
    font-size: 0.8rem;
    line-height: 0.5rem;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
    
}
.my-country {
    display: block;
    font-weight: bold;
    color: var(--primary-color);
    font-size: 1.2rem;
    text-align: center;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);
}

.coat-of-arms {
    
    margin: 5px;
    
}

section article {
    float: left;
}

footer {
    text-align: center;
    margin-top: 5px;
    padding: 10px;
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    font-weight: 500;
    font-family: "Merriweather", sans-serif;
}

.modified-last {
    font-family: "Merriweather", sans-serif;
    color: greenyellow;
    font-weight: bold;
    padding: 0.5rem;
    font-size: 0.8rem;
}