@media screen and (min-width: 500px) {
    body {
        display: grid;
        grid-template-rows: auto 1fr auto;
    }
    
    .navigation {
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
    
        }
    
        .navigation li {
            margin: 0 2rem;
            display: block;
    
        }
    
        header nav {
            order: 0;
            width: auto;
        }
        nav a {
            text-decoration: none;
            display: block;
            color: var(--accent2-color);
            font-size: 1rem;
            font-family: "Roboto", sans-serif;
            transition: all 0.3s ease;
        }
    
        nav a:hover {
            color: greenyellow;
            background-color: var(--secondary-color);
            border-radius: 3px;
            transform: translateY(-1.5px);
        }
    #menu {
            display: none;
        }
    .temple-cards-container {
            grid-template-columns: repeat(2, 1fr);
            padding: 1rem;
        }


}