 * {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

 :root {
     --primary-color: #FFFFFF;
     --secondary-color: #BF0A30;
     --accent1-color: #002868;
     --gap: 1rem;
 }
html {
    height: 100%;    
}

 h1 {   
    font-weight: 700;
 }

 body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    max-height: 100vh;
    font-family: "Roboto", sans-serif;
}

main {
    overflow-y: auto;
    background-color: var(--secondary-color);
}


section {
    margin: 0 auto;
    border: 1px solid var(--accent1-color);
    text-align: center;
    font-size: 1.2em;
    font-family: sans-serif;
    background-color: var(--primary-color);
    padding-top: var(--gap);
}
picture img {
    width: 100vw;
    max-width: 100%; 
    height: auto;
    display: block;
    object-fit: cover;
    margin-top: var(--gap);
    margin-bottom: var(--gap);
}

.weather-svg {
    display: block;
    margin: 0 auto;
}

dl {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.75em 0.5em;
    margin: 0 auto;
    width: 90%;
    max-width: 100%;
    padding: var(--gap);
    
}

dt {
    font-weight: bold;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.25em;
   
}

dd {
    text-align: left;
    padding: 0.25em;
}

header, footer {
    background-color: var(--accent1-color);
    color: var(--primary-color);
    text-align: center;
    padding: var(--gap)
}

footer {
    font-weight: 400;
    font-size: 1.2em;

}